p#alert
  = alert
h1
  | Login
= form_tag sessions_path do |form|
  .field
    = label_tag :email
    = text_field_tag :email
  .field
    = label_tag :password
    = password_field_tag :password
  .actions
    = submit_tag "Login"
