= "Hi #{@user.name},"
br
| To reset your password, click the URL below:
br
= link_to edit_password_reset_url(@user.password_reset_token), edit_password_reset_url(@user.password_reset_token)
br
| If you did not request your password to be reset, just ignore this e-mail and your password will stay the same.
