doctype html
html
  head
    title
      | IncubitDemo
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  body
    #container
      #user_header
        - if current_user
          |  Logged in as&nbsp;
          = current_user.email
          | &nbsp;
          = link_to "Log Out", logout_path
        - else
          = link_to "Sign Up", signup_path
          |&nbsp;or&nbsp;
          = link_to "Log In", login_path
          |&nbsp;or&nbsp;
          = link_to "Forgot password?", new_password_reset_path
      - flash.each do |name, msg|
        = content_tag :div, msg, id: "flash_#{name}"
      = yield
